
<html>
<head>
<title>Check Vaccination status</title>
<h1><b>To check vaccination status, please enter Registration no :</b></h1>
<style>
  .btn{
      background-color: ivory;
      border: 2px solid black;
      color: blue;
      padding: 5px 10px;
      text-align: center;
      display: inline-block;
      font-size: 20px;
      margin: 10px 30px;
      cursor: pointer;
  }
</style>
</head>
<body>
<body bgcolor="lightblue">
<form method="POST" action="/check vaccination status">
    RegNo : <input type="number" name="RegNo" />
    <br>
    <br>
    <input type="submit" class="btn" value="Check Vaccination Status"></br>
    
  </form>
</body>
</html>
  